@import "./styles/reset.css";
@import "./styles/header.css";
@import "./styles/choice-clothes.css";
@import "./styles/carousel.css";
@import "./styles/reviews.css";
@import "./styles/footer.css";

:root {
  --black-0: #000000;
  --grey-0: #d2d2d2;
  --grey-1: #ececec;
  --grey-2: #f2f2f2;
  --grey-3: #484848;
  --grey-4: #717171;
  --white-fixed: #fff;
}
